@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.latest_games_teams
	{
		margin-top: -5px;
	}
	.latest_games_teams > div:first-child .team_name
	{
		margin-left: 0;
		margin-top: 3px;
	}
	.latest_games_teams > div:last-child .team_name
	{
		margin-right: 0;
		margin-top: 3px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.main_nav_container_outer
	{
		height: 124px;
	}
	.main_nav_container > div:not(:nth-child(2)) ul
	{
		display: none !important;
	}
	.logo_container
	{
		width: 180px;
	}
	.header_live a > div > div:last-child
	{
		display: none;
	}
	.hamburger
	{
		display: block;
	}
	.contact_image
	{
		margin-top: 70px;
	}
	.contact_image .background_image
	{
		display: none;
	}
	.contact_image img
	{
		display: block;
	}
	.footer_image
	{
		position: relative;
		right: auto;
		bottom: auto;
		width: 100%;
	}
	.footer_contact_info
	{
		padding-bottom: 0;
	}
	.newsletter
	{
		padding-top: 100px;
		padding-bottom: 0;
	}
	.footer_image
	{
		padding-top: 100px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.menu_background
	{
		right: -80%;
		width: 80%;
	}
	.home_text
	{
		font-size: 48px;
	}
	.header_bar_content
	{
		height: 30px;
	}
	.header_live a > div > div:first-child
	{
		width: 47px;
		height: 20px;
		line-height: 20px;
		font-size: 12px;
	}
	.user_area
	{
		margin-left: 23px;
	}
	.logo_container
	{
		width: 140px;
	}
	.main_nav_container_outer
	{
		height: 107px;
	}
	.footer_bar_content
	{
		height: auto;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.cr
	{
		margin-top: 10px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	p
	{
		font-size: 14px;
	}
	.menu_background
	{
		width: 100%;
		transform-origin: bottom right;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.header_bar
	{
		display: none;
	}
	.main_nav_container_outer
	{
		height: 90px;
	}
	.header.scrolled .main_nav_container_outer
	{
		height: 90px;
	}
	.header.scrolled .logo_container > div
	{
		top: -60px;
		width: 140px;
	}
	.hamburger
	{
		bottom: 30px;
	}
	.menu_background
	{
		padding-right: 0;
	}
	.menu_container
	{
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.menu_user_area
	{
		display: block;
	}
	.menu_nav
	{
		margin-top: 50px;
	}
	.main_nav_container > div:not(:nth-child(2))
	{
		width: calc((100% - 140px) / 2);
	}
	.main_nav_container .header_live
	{
		display: block;
		-webkit-transform: translateY(-18px);
		-moz-transform: translateY(-18px);
		-ms-transform: translateY(-18px);
		-o-transform: translateY(-18px);
		transform: translateY(-18px);
	}
	.home
	{
		height: 350px;
		padding-bottom: 102px;
	}
	.home_text
	{
		font-size: 36px;
	}
	.button
	{
		width: 150px;
		height: 54px;
	}
	.button a
	{
		font-size: 12px;
		line-height: 52px;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}